[submodule "tellina"]
	path = tellina
	url = https://github.com/oisindoherty/tellina.git
	branch = master

[submodule "nl2bash_server"]
	path = nl2bash_server
	url = https://github.com/FiddlerOnTheNet/nl2bash_server.git
